header {
    background-color:white;
    height:70px;
    width:100%;
    border-bottom:1px solid #CCCCCC;
    margin-bottom:30px;
}

.logo {
    background-image : url("../images/logo.png") no-repeat top left;
    margin-left:20px;
    width:100%;
    height:auto;
}